<mat-card class="justify-content-center">
    <mat-card-header>
        <mat-card-title class="text-center">About Us</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <h2 class="text-center">Welcome to MobileFirst Applications company!</h2>
        <h4 class="text-center">We are @ Finovate Spring. Extended Development team specialists in FinTech.</h4>

        <p class="my-4">We are a FinTech product development partner for your Financial services or digital transformation. We 
            partner with startups, agencies and accelerators. We help plan, develop & maintain Full-stack, Gen AI, web,
            mobile & cloud apps.</p>
        <p>We specialise in SportsTech, FinTech, B2B SaaS, LegalTech (DocAssemble), Blockchain & VideoTech technology
            development.</p>
    </mat-card-content>
</mat-card>